.panel-container {
  display: flex;
  align-items: center;

  .panel-header-container {
    padding: 19.88px 20.25px 28.47px 20.25px;
    width: 207.5px;
    height: 45.12px;
    .order-nav-container {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #e6e9ee;

      display: flex;
      justify-content: space-around;
      align-items: center;

      border-radius: 10px;
      cursor: pointer;

      span {
        padding: 6.33px 11.64px 7.17px 11.66px;
        color: #898c9a;
        transition: all 0.3s linear;
      }
      .active {
        background-color: white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #4162ff;
      }
    }
  }
}

.panel-content-container {
  width: 207.6px;
  height: 579.5px;

  display: flex;
  justify-content: start;
  flex-direction: column;

  .new-order-container,
  .order-container {
    display: flex;
    flex-direction: column;

    .new-order-header,
    .order-header {
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 18.11px;
      .new-order-title,
      .order-title {
        font-size: 18px;
        font-weight: 800;
      }

      .new-order-count,
      .order-count {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        width: 27.5px;
        height: 18.5px;

        border-radius: 50px;
        color: white;
      }

      .new-order-count {
        background-color: red;
      }

      .order-count {
        background-color: #4162ff;
      }
    }
  }

  .new-order-list,
  .order-list {
    width: 207.5px;
    background-color: #f3f4f6;
    border-radius: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 17px;
    }

    &::-webkit-scrollbar-thumb {
      border: 7px solid #f3f4f6;
    }

    .new-order-item,
    .order-item {
      display: flex;
      flex-direction: column;
      height: 39.34px;
      cursor: pointer;
      padding: 15.23px 27.02px 14.84px 20.27px;
      &:hover {
        background-color: #cde2ff;
        .item-name {
          color: #4162ff;
        }
      }

      &:not(:first-child) {
        padding-top: 13.46px;
      }

      &:not(:last-child) {
        padding-bottom: 13.79px;

        border-bottom: 1px solid #d9d9d9;
      }

      .item-name {
        font-size: 16px;
      }

      .item-count {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .new-order-list {
    height: 136px;
    margin-bottom: 30.22px;
  }

  .order-list {
    height: 374.94px;
  }
}
