button {
  cursor: pointer;
}

* {
  &::-webkit-scrollbar {
    width: 6px; // 스크롤바 너비
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px; // 스크롤바 트랙의 모서리 둥글게
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); // 스크롤바 색상
    border-radius: 10px; // 스크롤바 모서리 둥글게
  }
}

body {
  background-color: #f7f7f7;
  overflow: auto;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
}
a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
