.register-step3-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 1024px) {
        width: 775px;
    }
  
    .info-section {
      background-color: #E6E9EE;
      padding: 35px 80px;
      border-radius: 10px;
      border: 1px solid #D3D5DE;
      display: flex;
      justify-content: space-between;
      gap: 30px;
  
      .info-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .form-group {
          display: flex;
          flex-direction: column;
          gap: 8px;
  
          label {
            font-size: 14px;
            font-weight: 500;
            color: #000;
          }
  
          .form-control {
            height: 45px;
            font-size: 14px;
            color: #3E3E3E;
            background-color: #fff;
            border: 1px solid #E6E9EE;
            border-radius: 7px;
            padding-left: 20px;
            outline: none;
          }
  
          .input-with-button {
            display: flex;
            gap: 8px;
  
            .btn {
              width: 100px;
              height: 45px;
              font-size: 14px;
              background-color: #898C9A;
              color: #fff;
              border: 1.5px solid #898C9A;
              border-radius: 7px;
            }
          }
        }

        .info-group-horizontal {
            display: flex;
            gap: 10px; 
            
            .form-group {
              flex: 1; 
              display: flex;
              flex-direction: column;
              gap: 8px;
          
              label {
                font-size: 14px;
                font-weight: 500;
                color: #333;
              }
          
              .form-control {
                width: 120px;
                height: 45px;
                font-size: 14px;
                color: #3E3E3E;
                background-color: #fff;
                border: 1px solid #E6E9EE;
                border-radius: 7px;
                padding-left: 20px;
                outline: none;
              }
            }
          }
      }
    }
  
    .message {
      text-align: center;
      color: #ff5252;
      font-size: 14px;
      margin-top: 20px;
    }
  }
  