.modal-overlay {//모달창 뒷 배경
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;   

  .modal-container {//모달창
    padding-right: 37px;
    padding-left: 37px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    width: 400px;
    max-height: 340px;
    overflow-y: auto;

    .modal-header {//모달창 헤더
      display: flex;
      align-items: center;

      .modal-submit-button{//모달창 확인 버튼
        margin-left: auto;
        border: none;
        background-color: #4162FF;
        color: white;
        height: 35px;
        width: 80px;
        border-radius: 50px;
      }
    }
    .menu-list {//메뉴 리스트
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 14px;
      .menu-item {//메뉴 아이템
        padding-top: 14px;
        display: flex;
        align-items: center;
        position: relative;
        &:not(:first-child) { //첫번째 아이템 제외하고는 위에 border-top 추가
          border-top: 1px solid #D9D9D9;
        }
        &:last-child{
          padding-bottom: 14px;
        }
        .menu-label{//메뉴 라벨(체크박스, 메뉴 이름)
          display: flex;
          align-items: center;
          .menu-checkbox {
            width: 21px;
            height: 21px;
            margin-right: 20px;
            appearance: none; 
            border: 2px solid #d3d3d3; 
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            position: relative;

            &:checked {
              background-color: #ff5a69; 
              color: white;
              &::after {//체크박스 커스텀 체크 표시
                content: "✔"; 
                color: white;
                font-size: 14px;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          
            &:hover {
              color: white;
            }
          }
          .menu-name {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}